Thumbs.db
/run
/out
/eclipse
/build
/.gradle
*.iml
*.ipr
*.iws
/bin
.classpath
.project
/.settings
*.launch
src/main/java/team/covertdragon/springfestival/module/firecracker/entity/EntityAIAvoidPos.java
libs/albedo-0.1.3.jar
testEntries.json
/.idea
/.vscode
